<div class="d-flex align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4) ), URL(https://source.unsplash.com/evlkOfkQ5rE/1000*500); background-position: center; height: 500px;">
  <h1 class="p-5 my-auto text-white fs-1 mx-auto text-center">Add movie</h1>
</div>
<div class="mx-auto my-5" style="width: 70%;">
  <%= simple_form_for [@list, @bookmark] do |f|%>
    <%= f.input :comment%>
    <%= f.association :movie%>
    <%= f.submit%>
  <% end %>
</div>
