.card {
  border: solid ;
  border-color: rgb(164, 162, 162);
  border-radius: 5px;
  background-color: whitesmoke;
  margin: 10px;
  width: 30%;
  height: 200px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
